{% extends 'base.html' %}
{% block title %}
Update Program : ARCODERS
{% endblock %}

{% block head %}
{% load static %}

<link rel="stylesheet" href="{% static 'CSS/neon.css' %}">
<link rel="stylesheet" href="{% static 'CSS/form.css' %}">
<link rel="stylesheet" href="{% static 'CSS/add.css' %}">
<link rel="stylesheet" href="{% static 'CSS/user_profile/program/add.css' %}">


{% endblock %}

{% block content %}

<div class="contain">
    <div class="formBx">
        
        {% include 'arcoder/user_profile/program/modules/add/form.html'%}

    </div>
</div> 
{% endblock %}



{% block js %}

    
    {% endblock %}