
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700";

    .message {
        border: 2px solid dodgerblue;
        background: black;
        color: dodgerblue;
        font-weight: bolder;
        text-align: center;
        font-family: Roboto, monospace, JetBrains Mono;
    }


        .progress-bar{
        border: 1px solid dodgerblue;
    }

    .logo-text{
        color: #0369d8; 
        font-size: 2rem;
        float: right;
        margin-left: 4px;
        margin-right: 3px;
        font-family: JetBrains Mono, monospace, Roboto; 
        font-weight: bolder;
    }

    .logo{
        width: 3rem;
        height: 3rem; 
        float: right;
        border-radius: 0%;
        box-shadow: none; 
        border: none; 
        animation: none;
    }