    .language_selector_title {
        color: dodgerblue;
        border-bottom-color: dodgerblue;
        font-family: 'JetBrains Mono', monospace, 'Roboto';
        font-weight: bold;
        margin-bottom: 2rem;
    }


    #category_language_select_container{
        display: inline-flex;
        width: 100%;
        justify-content: space-around;
        font-family: 'Roboto';
    }

    #language_selector_hgroup{
        border-bottom: 1.5px solid #ccc ;
        margin-top: 40px;
    }