
<form class="contactForm" name="post" method="post"
    action="{% url 'edit_program' language=program.title.language program_id=program.id  %}?next={{request.path}} "
    style="width: 100%;height:100%;" enctype="multipart/form-data">
    {% csrf_token %}

    <h2 id="title">
        Update Program
    </h2>

    <a type="button" class="arbuttons remove_button" href="{% url 'remove_program' program_id=program.id %}">
        Remove Program
    </a>


    <hr style="border: 1px solid dodgerblue; box-shadow: none; margin-top: 10px;margin-bottom: 2rem;">


    <div class="inputBox">
        {{form.title}}
        <span>Title </span>
    </div>

    <div class="inputBox" style="display: inline-flex;width: 100%; margin-bottom: 10px;">
        <h5 class="language_selector_title">
            Language:
        </h5>

        <select name="language" id="langName" class="language_selector_dropdown">
            <option value="{{program.title.language}}" style="font-weight: bold;">
                {{program.title.language}}
            </option>
        </select>
    </div>


    <br>
    <br>

    {% if request.user.username == "arironman" %}
    <!-- adding url option only for admin -->
    <div class="inputBox">
        <input type="text" name="url" value="{{progarm.url}}">
        <span>URL </span>
    </div>
    {% endif %}

    <!-- <input type="text" name="id" value="{{program.id}}" hidden> -->

    <div style="width: 100%;text-align: left; margin-bottom:1rem;">
        <p style=" color: dodgerblue;margin-bottom: 0.8rem; font-size: 1rem; font-weight: bold;">
            Enter Your Program Below
        </p>
        {{form.code|safe}}
    </div>

    <div>
        <button class="arsubmit" type="submit" style="background: transparent;border: none;">
            <a class="neon" type="submit" style="color: dodgerblue; cursor: pointer;">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                POST
            </a>
        </button>
    </div>
</form>



<script>
    $(".neon").mouseover(function () {
        $(".neon").css("color", "#122647");
    }

    );

    $(".neon").mouseout(function () {
        $(".neon").css("color", "dodgerblue");
    }

    );

    $(".contactForm").submit(function (e) {
        var form = this;
        e.preventDefault();

        setTimeout(function () {
            form.submit()
        }

            , 1200)
    }

    )

    var title = document.getElementById('id_title')
    title.readOnly = true
    title.autofocus = true
</script>