<div class="header" style="padding-top: 120px;">


    <div class="container">
        <div class="row">
            <div id="img-user" class="col-md-12 col-sm-12">
                <img id="user-img" class="img-color" src="/media/{{user_data.image}}"
                    class="img-responsive img-circle tm-border" alt="{{user.username}}" style="width: auto; max-width: 150px; min-width: 130px;" height="170px">
                <hr style="margin: auto; margin-top: 20px;" class="txt-color">
                <h1 class="tm-title bold shadow txt-color"> {{user.username}}</h1>
                <h1 class="white bold shadow" style="color: #122647;">{{user.first_name}} {{user.last_name}}</h1>
                <button id='image_upload' class="arbuttons">Upload Image</button>
            </div>
        </div>
    </div>
</div>



