{% extends 'base.html' %}
{% block title %}
    Add Query : ARCODERS
{% endblock %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% load static %}

    <link rel="stylesheet" href="{% static 'CSS/neon.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/form.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/add.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/language_selector.css' %}">

{% endblock %}

{% block content %}

    <div class="contain">
        <div class="formBx">
            {% include 'querybook/modules/add/query/language_selector.html'%}

            {% include 'querybook/modules/add/query/form.html'%}

        </div>
    </div> 
{% endblock %}



{% block js %}
    <script type="text/javascript" src="{% static 'js/querybook/add.js' %}"></script>
{% endblock %}