{% extends 'base.html' %}

{% block title %}
    Querybook : ARCODERS
{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/category.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/language_selector.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/card.css' %}">
{% endblock %}

{% block content %}

<script>
    var change_langauge_url = `/querybook/`
    var category_language_selected = '{{language}}';
</script>

    {% include 'language_selector.html' %}
    {% include 'querybook/add_button.html' %}

    <section class="col-xs-12 col-sm-6 col-md-12" style="color: mintcream;" id = 'querybook_card_section'>
        
        {% include 'querybook/querybook_card.html' %}
        <br>
        {% include 'querybook/paginator.html' %}

    </section>

{% endblock %}


{% block js %}
    <script type="text/javascript" src="{% static 'js/add_icon.js' %}"></script>
{% endblock %}