    #user-img {
        object-fit: contain;
        border-radius: 0% !important;
    }

    .arBox {
        background: #122647;
        border: 4px solid dodgerblue;
        color: dodgerblue;
    }

    .fa-pencil-square-o {
        cursor: pointer;
    }


    .fa-arrow-circle-right {
        cursor: pointer;
    }

    .pull-right {
        margin-right: 10px;
    }

    .update {
        border: none;
        color: dodgerblue;
        background: none;
    }