<footer class="page-footer font-small special-color-light pt-4">
    <div class="footer_container">
        <ul class="list-unstyled list-inline text-center footer_social_media">
            <li class="list-inline-item">
                <a class="btn-floating btn-fb mx-1" href="https://www.facebook.com/profile.php?id=100067363398128">
                    <i class="fa fa-facebook-official"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-li mx-1" href="https://instagram.com/ar_coders?igshid=58lka8nqcfz9">
                    <i class="fa fa-instagram"> </i>
                </a>
            </li>
        </ul>
    <div class="footer-copyright text-center py-3">© 2023 Copyright:
        <a href="{% url 'home' %}" style="font-family: JetBrains Mono, monospace, Roboto; font-weight: bolder;"> ARCODERS.com</a>
    </div>
</div>
</footer>
